# Node.js dependencies
/node_modules
/backend/node_modules
/frontend/node_modules

# Build outputs
/build
/frontend/build
/backend/build
/dist

# Testing
/coverage

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
/backend/.env
/frontend/.env

# Misc
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.pnpm
.pnp.js
