.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app-container{
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


.custom-toast {
  background: #f0fdf4 !important;  
  color: black !important;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 8px !important;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
  text-align: center;
  padding: 12px 16px !important;
}

.Toastify__progress-bar {
  background: #15803d !important; 
}

.Toastify__close-button {
  color: black !important;  
  opacity: 0.9;
}

.Toastify__close-button:hover {
  color: #f87171 !important;   
  opacity: 1;
}